@media screen and (max-width: 1200px){
    .significance .block-1 img, .significance .block-3 img {
        margin-right: 5%;
    }
    .invitation .inner{
        padding: 30px;
    }
    .invitation .inner img{
        margin-right: 30px;
    }
    .invitation .inner div{
        width: 100%;
    }
}
@media screen and (max-width: 1050px){
    .bottom .more{
        width: 35%;
    }
    .invitation .inner div{
        padding-bottom: 90px;
    }
    .invitation .inner div .maison{
        left: 0;
    }
}
@media screen and (max-width: 900px){
    .bottom .more img{
        display: none;
    }
    .bottom p.second {
        border: 1px solid #000;
        color: #000;
        background-color: rgba(0, 0, 0, 0.03);
        transition: all ease-in-out .4s;
        font-weight: bold;
    }
    .bottom a.more:hover p.second {
        background-color: #000;
        border: 1px solid #000;
        color: #fff;
    }
    .bottom p.first,
    .bottom p.second{
        bottom: -30px;
        max-width: 250px;
        width: 100%;
    }
    .bottom .more {
        width: calc(100% - 30px);
    }
    .significance .block p.small{
        font-size: 16px;
    }
}
@media screen and (max-width: 770px){
    .significance .block{
        flex-direction: column;
    }
    .significance .block-2 img {
        order: 1;
    }
    .significance .block-2 div {
        order: 2;
    }
    .significance p.small{
        display: none;
    }
    .significance .block p{
        text-align: center;
    }
}
@media screen and (max-width: 700px){
    .significance .block-2 img {
        max-width: 100%;
    }
    h1 {
        margin: 50px 30px;
    }
    .significance .block h4{
        margin-bottom: 0;
    }
    .invitation .inner img{
        max-width: 150px;
    }
    .bottom {
        justify-content: center;
        flex-direction: column;
    }
    .bottom .more {
        height: 50px;
        margin-bottom: 20px;
    }
    .bottom p.first, .bottom p.second {
        bottom: 0;
    }
    .invitation .inner div span{
        font-size: 17px;
    }
    .bottom a.more p.first,
    .bottom a.more p.second{
        background-color: #d3c4ab;
        border: 1px solid #d3c4ab;
        color: #fff;
        height: 50px;
        line-height: 30px;
        font-weight: normal;
    }
    .significance .block p{
        font-size: 18px;
    }
}
@media screen and (max-width: 600px){
    .invitation .inner{
        flex-direction: column;
        text-align: center;
    }
    .invitation .inner img {
        margin: 0 0 30px 0;
    }
    .invitation .inner div .maison {
        left: 50%;
        transform: translateX(-50%);
    }
    .significance .block{
        margin-bottom: 20px;
    }
    .h1, h1 {
        font-size: 22px;
        margin: 30px 15px;
    }
    .significance .block h4{
        font-size: 20px;
        margin-bottom: 10px;
    }
    h1 a{
        text-decoration: underline;
    }
    .bottom{
        padding-bottom: 10px;
    }
}
@media screen and (max-width: 400px){
    footer {
        padding: 10px 0;
    }
    .significance .block h4{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .significance .block p{
        font-size: 18px;

    }
    .invitation {
        padding: 0px 15px;
    }
    .significance .block p{
        padding: 0 15px;
    }
    h1 {
        margin: 50px 15px;
    }
}
