a, a:hover, a:focus, a:visited, a:active{
    text-decoration: none;
    outline: none;
    transition: all ease-in-out .4s;
}
/*a:hover, a:focus, a:visited, a:active{
    color: #000;
}*/
html { font-size: 62.5%; }  /* =10px */
body {
    font-size: 1.6rem;
    font-family: "GothamProRegular";
    color: #000;
} /* =16px */
.exp-inner{
    display: block;
    max-width: 1600px;
    margin: 0 auto;
    z-index: 2;
}
.exp_container{
    padding: 0;
}
.header{
    display: block;
    position: relative;
    color: #fff;
    text-align: center;
    background: #e4dcce;
}
.header img{
    width: 100%;
    max-width: 1140px;
}
.inner{
    display: block;
    margin: 0 auto;
    max-width: 1140px;
}
.header .inner{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    overflow: hidden;
}
.header .logo{
    text-align: center;
}
.header .logo svg{
    max-width: 130px;
    height: 100px;
}
.header .collection{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 250px;
    height: 40px;
    border: 1px solid #fff;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #fff;
    line-height: 40px;
    transition: all ease-in-out .4s;
}
.header .collection:hover,
.bottom a.more:hover p
{
    background-color: #fff;
    color: #886f44;
    transition: all ease-in-out .4s;
    border: 1px solid #fff;
    font-weight: bold;
}
.bottom a.more:hover p.first{
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
}
.bottom a.more:hover p.second{
}
h1{
    text-align: center;
    color: #333;
    margin: 75px 50px;
}
h1 a{
    color: #333;
    font-weight: bold;
    transition: all ease-in-out .4s;
}
h1 a:hover{
    color: #000;
    transition: all ease-in-out .4s;
}


.significance .block{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.significance .block img{
    max-width: 60%;
    max-height: 330px;
}
.significance .block h4{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    color: #333;
    margin-bottom: 28px;
}
.significance .block p{
    padding: 0 30px;
    font-size: 20px;
    color: #333;
    text-align: justify;
}
.significance .block-2 img{
    order: 2;
}
.significance .block-2 p{}
.significance .block-1 img,
.significance .block-3 img{
    margin-right: 85px;
}
.significance .block-3 p{}
.significance .block .small{
    text-transform: lowercase;
    margin-bottom: 0;
}
.block{
    margin-left: 0;
    margin-right: 0;
}
.significance{
    position: relative;
    font-family: 'Roboto Condensed';
    padding-bottom: 10rem;
    max-width: 1600px;
    margin: 0 auto;
}
.significance{
    padding-bottom: 0;
}
.invitation{
    margin-bottom: 50px;
    padding: 0 30px;
}
.invitation .inner{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    text-align: left;
    border: 1px solid #333;
    padding: 30px 100px;
    color: #333;
}
.invitation .inner img{
    max-width: 200px;
    margin-right: 100px;
    vertical-align: top;
}
.invitation .inner div{
    display: inline-block;
    position: relative;
}
.invitation .inner div p{
    margin: 0;
}
.invitation .inner div span{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
}
.invitation .inner div .maison{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 250px;
    height: 60px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    line-height: 60px;
    border: 1px solid transparent;
    background-color: #d3c4ab;
    color: #fff;
    transition: all ease-in-out .4s;
}
.invitation .inner div .maison i{
    margin-left: 5px;
    font-size: 16px;
    opacity: 0;
    transition: all ease-in-out .4s;
}
.invitation .inner div .maison:hover{
    background-color: #c9b89c;
    transition: all ease-in-out .4s;
}
.invitation .inner div .maison:hover i{
    margin-left: 20px;
    opacity: 1;
    transition: all ease-in-out .4s;
}
.bottom{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
}
.bottom .more{
    display: block;
    width: 30%;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #333;
    justify-content: center;
    align-items: center;
    position: relative;
}
.bottom .more img{
    border: 1px solid #000;
    width: 100%;
}
.bottom p.first{
    position: absolute;
    bottom: 30px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #000;
    padding: 10px 10px;
    font-size: 13px;
    font-weight: bold;
    color: #000;
    background-color: rgba(0, 0, 0, 0.03);
    transition: all ease-in-out .4s;
}
.bottom p.second{
    position: absolute;
    bottom: 30px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #fff;
    padding: 10px 10px;
    font-size: 13px;
    font-weight: normal;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.15);
    transition: all ease-in-out .4s;
}
footer{
    background-color: #333;
    padding: 20px 0;
}
footer .inner{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}
footer a{
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0 5px;
    transition: all ease-in-out .4s;
}
footer a:hover{
    transition: all ease-in-out .4s;
    color: #000;
    border: 1px solid #fff;
    background-color: #fff;
}